<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="/fragment/header.html :: css"></div>
        <link href="css/index.css" rel="stylesheet">
        <title>Foogether | 메인 페이지</title>
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Icon -->
              <div class="fadeIn first">
                <h1>Foogether</h1>
              </div>
          
              <!-- Login Form -->
              <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
              </form>
          
              <!-- Remind Passowrd -->
              <div class="text-justifyt" id="formFooter">
                <a class="underlineHover" href="/forgot">비밀번호 찾기</a>
                <hr/>
                <a class="underlineHover" href="/register">회원가입</a>
              </div>
            </div>
          </div>
    </body>
    <footer>
        <div th:replace="/fragment/footer.html :: javascript"></div>
    </footer>
</html>