<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="/fragment/header.html :: css"></div>
        <link href="css/index.css" rel="stylesheet">
        <title>Foogether | 로그인 페이지</title>
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Icon -->
              <div class="fadeIn first">
                <h1>Foogether</h1>
              </div>
          
              <!-- Login Form -->
              <form action="/api/v1/login" method="POST">
                <input type="text" id="username" name="username" class="fadeIn second" placeholder="id">
                <input type="password" id="password" name="password" class="fadeIn third" placeholder="password">
                <input type="submit" class="fadeIn fourth" id="btn-login" value="Log In">
              </form>
          
              <!-- Remind Password -->
              <div class="text-justifyt" id="formFooter">
                <a class="underlineHover" href="/forgot">비밀번호 찾기</a>
                <hr/>
                <a class="underlineHover" href="/register/user">회원가입</a>
              </div>
            </div>
          </div>
    </body>
    <footer>
        <div th:replace="/fragment/footer.html :: javascript"></div>
        <script src="js/login.js"></script>
    </footer>
</html>